.venv/
venv/
node_modules/
.mypy_cache/
.ruff_cache/
build/
dist/
.pytest_cache/
__pycache__/
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
*.py[cod]
.coverage
htmlcov/
test.db
.env
.env.*
!.env.example
.git/
